h1,
p {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
}
#root {
  text-align: center;
  margin: 20px auto;
}
h1,
h2 {
  text-align: center;
  color: rgb(240, 219, 219);
  text-shadow: 1px 1px 2px rgb(114, 114, 114);
  letter-spacing: 5px;
}
img {
  height: 300px;
}
.btn {
  margin: 10px;
}
